<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="Suite">-->
<!--    <test name="test">-->
<!--        <groups>-->
<!--           <run>-->
<!--                <exclude name="sanity"/>-->
<!--                <exclude name="smoke"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--       <classes>-->
<!--            <class name="Parameterization_package.Parameterizationtestclass"></class>-->
<!--            <class name="dataProvider_Package.LoginData"></class>-->
<!--            <class name="testCases.FindWorkTests"></class>-->
<!--        </classes>-->
<!--        </test>-->
<!---->
<!--<test name= "Test">-->
<!--<parameter name ="browser" value="Chrome"/>-->
<!--    <parameter name="url" value="https://dev.yourmoca.com/home"></parameter>-->
<!--<classes>-->
<!--<class name="Parameterization_package.Paramerizationtestclass1"></class>-->
<!--</classes>-->
<!--</test>-->

  <suite name="Chromebrowsersuite" parallel="tests" thread-count="2">
    <test name="Chrometest">
    <parameter name ="browser" value="chrome"/>
<classes>
 <class name="testCases.Crossbrowsertesting"/>
</classes>
    </test>
<test name="Edgetesting">
 <parameter name="browser" value="Edge"/>
  <classes>
  <class name="testCases.Crossbrowsertesting"/>
  </classes>  
</test>
</suite>
