<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="test">
        <groups>
            <run>
                <exclude name="sanity"/>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="Parameterization_package.Parameterizedtestclass1"></class>
            <class name="dataProvider_Package.LoginData"></class>
            <class name="testCases.FindWorkTests"></class>
        </classes>
    </test>

</suite>